include setup.py
include LICENSE
include README.md
include AUTHORS
include docs/build/man/mypublicip.1
recursive-include requirements *
recursive-include mypublicip *.py
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.orig
recursive-exclude docs *
global-exclude .pyc .pyo
